h1{
    padding: 16px;
}
.porst-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.post-list_post-item{
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
    padding: 10px;

}